In [1]:
pwd

'C:\\geethanjaliexternship'

variables

In [2]:
a=10
a,b,c=10,20,30

In [3]:
print(a)
print(b)
print(c)

10
20
30

In [4]:
my_name="sanjana"

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
heowwwhdbjfgrrhfgogg=10

In [7]:
print(a,b,c)

10 20 30

In [8]:
print("a:",a,"b:",b,"c:",c)

a: 10 b: 20 c: 30

# datatypes

In [9]:
a=10
b=20.5
c="hello"

In [10]:
type(a)

int

In [11]:
type(b)

float

In [12]:
type(c)

str

In [13]:
d=float(a)

In [14]:
type(d)

float

In [15]:

string='1234'

In [16]:
integer=int(string)

In [17]:
x=0

In [18]:
typ(x)

NameError: name 'typ' is not defined

In [19]:
type(x)

int

In [20]:
x=False

In [21]:
type(x)

bool

In [22]:
string="hi how are u "

indexing-giving the index position to the elements present in data type

In [23]:
string[i]

NameError: name 'i' is not defined

In [24]:
string[9]

'e'

In [25]:
string[9]="q"

TypeError: 'str' object does not support item assignment

In [26]:
string[-2]

'u'

In [27]:
string[-5]

'r'

In [28]:
string[:9]#end slicing

'hi how ar'

In [29]:
string[9:]#start slicing

'e u '

In [30]:
string[5:12]#startend

'w are u'

In [31]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#variablename.functionname(arguments)

In [32]:
string

'hi how are u '

In [33]:
string.capitalize()

'Hi how are u '

In [34]:
string.casefold()

'hi how are u '

In [35]:
st="ABCDEFGHIJ"

In [36]:
st.casefold()

'abcdefghij'

In [37]:
string.center(70,'*')

'****************************hi how are u *****************************'

In [38]:
string.count('h')

2

In [39]:
string

'hi how are u '

In [40]:
string.split()

['hi', 'how', 'are', 'u']

In [41]:
string.split('h')

['', 'i ', 'ow are u ']

In [42]:
list = [1,30.5,"john","hello",12345]

In [43]:
#list=[0,1,2,3,4]

In [44]:
list[4]

12345

In [45]:
list[2:4]

['john', 'hello']

In [46]:
list[1:]

[30.5, 'john', 'hello', 12345]

In [47]:
list[3]="sanjana"

In [48]:
list

[1, 30.5, 'john', 'sanjana', 12345]

In [49]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
list

[1, 30.5, 'john', 'sanjana', 12345]

In [51]:
list.append("sanjana")

In [52]:
list

[1, 30.5, 'john', 'sanjana', 12345, 'sanjana']

In [53]:
list.append([1,2,3,4,5])

In [54]:
list

[1, 30.5, 'john', 'sanjana', 12345, 'sanjana', [1, 2, 3, 4, 5]]

In [55]:
list.clear()

In [56]:
list

[]

In [57]:
list=[1, 30.5, 'john', 'sanjana', 12345, 'sanjana', [1, 2, 3, 4, 5]]

In [58]:
list2=list.copy

In [59]:
list2

In [60]:
list.extend([1,2,3,4,5])

In [61]:
list

[1, 30.5, 'john', 'sanjana', 12345, 'sanjana', [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

In [62]:
print(list)

[1, 30.5, 'john', 'sanjana', 12345, 'sanjana', [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

In [63]:
list.count(1)

2

In [64]:
list.index(5)

11

In [65]:
list.insert(5,"smartbridge")

In [66]:
print(list)

[1, 30.5, 'john', 'sanjana', 12345, 'smartbridge', 'sanjana', [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

In [67]:
list.pop()

5

In [68]:
list

[1,
 30.5,
 'john',
 'sanjana',
 12345,
 'smartbridge',
 'sanjana',
 [1, 2, 3, 4, 5],
 1,
 2,
 3,
 4]

In [69]:
list.remove("sanjana")

In [70]:
list

[1, 30.5, 'john', 12345, 'smartbridge', 'sanjana', [1, 2, 3, 4, 5], 1, 2, 3, 4]

creating a list with looping and conditions

In [71]:
list1=[i for i in range(10)]

In [72]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
list1=[i for i in range(10)if(i%2==0)]

In [74]:
list1

[0, 2, 4, 6, 8]

In [75]:
print(list)

[1, 30.5, 'john', 12345, 'smartbridge', 'sanjana', [1, 2, 3, 4, 5], 1, 2, 3, 4]

In [76]:
list.clear()

In [77]:
print(list)

[]

In [78]:
list=[1,2,3,4,5,6]

In [79]:
list

[1, 2, 3, 4, 5, 6]

In [80]:
list.extend([5,6,7,8,9])

In [81]:
list

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9]

In [82]:
list.append([5,6,7,8,9])

In [83]:
list

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, [5, 6, 7, 8, 9]]

In [84]:
tuple=(1,2,"john","smartbridge")

In [85]:
tuple[3]

'smartbridge'

In [86]:
tuple[1:3]

(2, 'john')

In [87]:
tuple[0]="sanjana"

TypeError: 'tuple' object does not support item assignment

In [88]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [89]:
tuple.count(1)

1

In [90]:
tuple.count(3)

0

In [91]:
tuple.index("smartbridge")

3

# task
create a list with the details of student like name,student rollno,student marks,
append the list with student attendance
delete student roll number from the list
copy student details in other list

In [92]:
t=("sai",1207,85)
t.append(90)
t.remove(20)
t1=t.copy()

AttributeError: 'tuple' object has no attribute 'append'

In [93]:
dict={"key":"value","key":"value","key":"value"}

In [94]:
d={"name":"sanjana","age":19,"qualification":"btech"}

In [95]:
d["qualification"]

'btech'

In [96]:
d["age"]

19

# keys are immutable values are mutable

In [97]:
d["name"]="sai"

In [98]:
d

{'name': 'sai', 'age': 19, 'qualification': 'btech'}

In [99]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [100]:
d

{'name': 'sai', 'age': 19, 'qualification': 'btech'}

In [101]:
d.clear()

In [102]:
d

{}

In [103]:
"d={"empname":"sanj","empsal":20000,"experience":"5","designation":"sranalyst"}

SyntaxError: invalid syntax (<ipython-input-103-43bb2b616abc>, line 1)

In [104]:
d.get("empname")

In [105]:
d.items()

dict_items([])

In [106]:
d.keys()

dict_keys([])

In [107]:
d.pop("designation")#similar to list.remove in list function

KeyError: 'designation'

In [108]:
d

{}

In [109]:
d.popitem()#similar to list.pop()

KeyError: 'popitem(): dictionary is empty'

In [110]:
d

{}

In [111]:
d={"empname":"sanj",(1,2):[{"empsal":20000,"experience":"5"}],"designation":"sranalyst"}

In [112]:
d["age"]=19

In [113]:
print(d)

{'empname': 'sanj', (1, 2): [{'empsal': 20000, 'experience': '5'}], 'designation': 'sranalyst', 'age': 19}

In [114]:
my_set={1,2,3,4,5}#integers

In [115]:
my_set={1.0,"hello",(1,2,3)}#different datatypes

In [116]:
my_set={1,3}

In [117]:
my_set.add(2)

In [118]:
my_set

{1, 2, 3}

In [119]:
my_set.update([2,3,4],{6,7,8})

In [120]:
my_set

{1, 2, 3, 4, 6, 7, 8}

In [121]:
my_set.remove(2)

In [122]:
my_set

{1, 3, 4, 6, 7, 8}

In [123]:
my_set.discard(3)

In [124]:
my_set

{1, 4, 6, 7, 8}

In [125]:
a={1,2,3,4,5}
b={6,7,8,9}
c=a.difference(b)

In [126]:
c

{1, 2, 3, 4, 5}

In [127]:
l=[1,2,[1,[2,[{"name":["sanjana","varshitha","pinky"]}]]]]#nestedlist

In [128]:
l[0]

1

In [129]:
l[1]

2

In [130]:
l[2]

[1, [2, [{'name': ['sanjana', 'varshitha', 'pinky']}]]]

In [131]:
l[2][0]

1

In [132]:
l[2][1]

[2, [{'name': ['sanjana', 'varshitha', 'pinky']}]]

In [133]:
l[2][1][0]

2

In [134]:
l[2][1][1]

[{'name': ['sanjana', 'varshitha', 'pinky']}]

In [135]:
l[2][1][1][0]

{'name': ['sanjana', 'varshitha', 'pinky']}

In [136]:
l[2][1][1][0]["name"]

['sanjana', 'varshitha', 'pinky']

In [137]:
l[2][1][1][0]["name"][0]

'sanjana'

In [138]:
l[2][1][1][0]["name"][1]

'varshitha'

In [139]:
l[2][1][1][0]["name"][2]

'pinky'

In [140]:
l=[1,2,[4,5,6]]

In [141]:
l[2]

[4, 5, 6]

In [142]:
l[2][0]

4

In [143]:
l=[1,2,[4,5[{"a":[1,2,3]}]]]

TypeError: 'int' object is not subscriptable

# conditional statements

In [144]:
a=input("enter a number")#string
b=input("enter b")#string
c=a+b

enter a number
enter b

In [145]:
c

''

In [146]:

type(a)

str

In [147]:
type(b)

str

In [148]:
a=int(input("enter a number"))
b=int(input("enter b"))
c=a+b
print(c)
if(c>75):
    print("passed")
elif(c==35):
    print("border pass")
else:
    print("failed")

enter a number10
enter b20
30
failed

In [149]:
c

30

In [150]:
num=float(input("enter a number"))
if num>=0:
    if num==0:
        print("it is zero")
    else:
        print("positive")
else:
    print("it is a negative number")

enter a number10
positive

In [151]:
a=int(input("enter a number"))
b=int(input("enter number"))

if operator==+:
    print(a+b)

SyntaxError: invalid syntax (<ipython-input-151-c6010b88cd24>, line 4)

# loops

In [152]:
for variable in range/any sequence:
    body of forloop-statements

SyntaxError: invalid syntax (<ipython-input-152-2c1458c08131>, line 1)

In [153]:
#print all the elements from 1 to 10 using forloop

In [154]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [155]:
for i in range(1,11):#i=i+1
    if(i%2==0):
        print(i)

2
4
6
8
10

In [156]:
string="hie how are you"
count=0
for i in string:
    if(i=="o"):
        count=count+1
print(count)

2

In [157]:
for i in range(len(string)):
    print(string[i])

h
i
e

h
o
w

a
r
e

y
o
u

In [158]:
list=[1,2,3,4,5,6,7]
for i in list:
    print(i)

1
2
3
4
5
6
7

In [159]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

break,continue,pass
break-stop the loop in the middle based on the condition
continue-skip some interations
pass-just doesnt do anything

total 40
students-40
empty seats are 20
senors-count the person
you have to close the door of seminar hall once the count reaches 20

In [160]:
for i in range(1,41):
    print("student no",i)
    if(i==20):
        break
        print("only 20 members allowed")

student no 1
student no 2
student no 3
student no 4
student no 5
student no 6
student no 7
student no 8
student no 9
student no 10
student no 11
student no 12
student no 13
student no 14
student no 15
student no 16
student no 17
student no 18
student no 19
student no 20

In [161]:
for i in range(1,41):
    if( i%2==0):
        continue
        print(i)

function-group of related statements that performs a task

In [162]:
studentname=input("enter student name")
studentmarks=input("enter student marks")
print("details are entered in the database")

enter student name
enter student marks45
details are entered in the database

In [163]:
def enterdetails():
    studentname=input("enter student name")
    studentmarks=input("enter student marks")
    print("details are entered in the database")

In [164]:
for i in range(1,6):
    enterdetails()

enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database
enter student name
enter student marks
details are entered in the database

def functionname():#empty paranthesis or with some arguments
    block of statements

In [165]:
def firstfunction():#without parameters
    print("hi it is my first function")

In [166]:
firstfunction()

hi it is my first function

In [167]:
def func(a,b):#function parameters
    c=a+b
    d=a-b
    
    return c,d

In [168]:
func(9,10)

(19, -1)

In [169]:
func(100,675)

(775, -575)

In [170]:
d,f =func(5,6)
print(d,f)

11 -1

In [171]:
create a function
which takes the user input of student name,student marks for physics,

SyntaxError: invalid syntax (<ipython-input-171-4db22e3f7bfc>, line 1)

In [172]:
def details():
    name=input("enter the name of the student")
    physics=int(input("enter the physics marks"))
    bio=int(input("enter the bio marks"))
    chem=int(input("enter the chem marks"))
    return name,physics+bio+chem

In [173]:
for i in range(1,4):
    studentname,marks=details()
    print(studentname,marks)

enter the name of the student
enter the physics marks

ValueError: invalid literal for int() with base 10: ''

# exception handling

error handling
critical statement-where it is prone to error,normal-it does not throw any error

In [174]:
a=10
b=20
c=a+#critical statement
print(c)#normal

SyntaxError: invalid syntax (<ipython-input-174-db0c85a2a60b>, line 3)

In [175]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=a/b
print(c)
print(bye)

enter a number

ValueError: invalid literal for int() with base 10: ''

try:
    critical
except:
    except

In [176]:
a=int(input("enter a number"))
b=int(input("enter a number"))
try:
    c=a/b
except Exception as e:
    print(e)
print(c)
print("bye")

enter a number

ValueError: invalid literal for int() with base 10: ''

open the fridge


close the open for sure

In [177]:
print("fridge is open")
a=10
b=0
try:
    c=a/b
except:    
      print("cannot divide by zero")
finally:
       print("fridge is close")
print(c)

fridge is open
cannot divide by zero
fridge is close
30

In [178]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [179]:
string="my name is sanjana"

In [180]:
string.capitalize()

'My name is sanjana'

In [181]:
string.casefold()

'my name is sanjana'

In [183]:
string.center(70)

'                          my name is sanjana                          '

In [185]:
string.count('a')

4

In [186]:
string.encode()

b'my name is sanjana'

In [187]:
string.endswith(".")

False

In [195]:
string="h\te\tl\tl\to"

In [196]:
string.expandtabs(2)

'h e l l o'

In [197]:
string="welcome home"

In [198]:
string.find("home")

8

In [199]:
string="this is written in {}"

In [200]:
string.format("python")

'this is written in python'

In [202]:
a={'x':'sanju','y':'manju'}

In [204]:
"{x}'s bestfriend is {y}".format_map(a)

"sanju's bestfriend is manju"

In [205]:
string="sanjana"

In [207]:
string.index("j")

3

In [208]:
string.isalnum()

True

In [209]:
string.isalpha()

True

In [210]:
string.isascii()

True

In [211]:
string.isdecimal()

False

In [212]:
string.isdigit()

False

In [213]:
string.isidentifier()

True

In [214]:
string.islower()

True

In [215]:
string.isnumeric()

False

In [216]:
string.isprintable()

True

In [217]:
string.isspace()

False

In [218]:
string.istitle()

False

In [219]:
string.isupper()

False

In [220]:
string=("doreamon","schinchan","chottabeam")

In [221]:
"#".join(string)

'doreamon#schinchan#chottabeam'

In [222]:
string="mango"

In [225]:
string.ljust(20,)

'mango               '

In [226]:
string="HELLO MY dear FANS"

In [227]:
string.lower()

'hello my dear fans'

In [228]:
string="mango"
x=string.lstrip()
print("of all fruits",x,"is my favourite")

of all fruits mango is my favourite

In [229]:
string="i could choclates all day"

In [230]:
string.partition("choclates")

('i could ', 'choclates', ' all day')

In [231]:
string.replace("choclates","fruits")

'i could fruits all day'

In [232]:
string="asd casa, cu sasa"

In [233]:
string.rfind("sasa")

13

In [234]:
string.rindex("casa")

4

In [236]:
string.rjust(10)

'asd casa, cu sasa'

In [237]:
string.rpartition("casa")

('asd ', 'casa', ', cu sasa')

In [238]:
string.rsplit("sasa")

['asd casa, cu ', '']

In [239]:
string.rstrip("casa")

'asd casa, cu '

In [240]:
string="thank you for food\nwelcome to the paradise"

In [241]:
string.splitlines()

['thank you for food', 'welcome to the paradise']

In [242]:
string.split()

['thank', 'you', 'for', 'food', 'welcome', 'to', 'the', 'paradise']

In [244]:
string.strip()

'thank you for food\nwelcome to the paradise'

In [246]:
string="hello,india"

In [247]:
string.startswith("hello")

True

In [248]:
string.title()

'Hello,India'

In [249]:
string.upper()

'HELLO,INDIA'

In [251]:
string="80"

In [252]:
string.zfill(10)

'0000000080'